.logs-container {
    position: relative;
    flex: 1;
}

.logs-container .logview {
    position: absolute;
    top: 0;
    display: block;
    bottom: 53px;
    padding: 15px 0;
    width: 100%;
}

.logs-container .logview-monitor {
    position: relative;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    font-family: monospace;
    -ms-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

.logs-container .toolbar-footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 47px;
    padding: 10px 15px;
    background: #f6f6f6;
    border-color: #ccc;
}

.logs-container .toolbar-title {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.logs-container .toolbar-actions {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.logs-container .btn-group > .btn:only-child {
    border-radius: 4px;
}

.hiddenGroup {
    display: none;
}
